In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# 1. 데이터 로드

In [2]:
data_path = "../Courses.csv"

# 데이터 로드
df = pd.read_csv(data_path)

print(f"행: {df.shape[0]:,}")
print(f"열: {df.shape[1]}")

행: 641,138
열: 21

# 2. 데이터 기본 정보 확인

In [3]:
print("컬럼 정보:")
df.info()

print(f"\n첫 5행 데이터:")
display(df.head())

print(f"\n기술통계:")
display(df.describe())

# 결측치 확인
print(f"\n결측치 현황:")
missing_data = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df) * 100).round(2)

missing_df = pd.DataFrame({
    '결측치 수': missing_data,
    '결측치 비율(%)': missing_percent
})
display(missing_df[missing_df['결측치 수'] > 0])

# 중복행 확인
duplicate_count = df.duplicated().sum()
print(f"\n중복행: {duplicate_count}개")

컬럼 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641138 entries, 0 to 641137
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              641138 non-null  int64
 1   course_id          641138 non-null  object
 2   userid_DI          641138 non-null  object
 3   registered         641138 non-null  int64
 4   viewed             641138 non-null  int64
 5   explored           641138 non-null  int64
 6   certified          641138 non-null  int64
 7   final_cc_cname_DI  641138 non-null  object
 8   LoE_DI             535130 non-null  object
 9   YoB                544533 non-null  float64
 10  gender             554332 non-null  object
 11  grade              592766 non-null  object
 12  start_time_DI      641138 non-null  object
 13  last_event_DI      462184 non-null  object
 14  nevents            441987 non-null  float64
 15  ndays_act          478395 non-null  float64
 16  nplay_video        183608 non-null  float64
 17  nchapters          382385 non-null  float64
 18  nforum_posts       641138 non-null  int64
 19  roles              0 non-null       float64
 20  incomplete_flag    100161 non-null  float64
dtypes: float64(7), int64(6), object(8)
memory usage: 102.7+ MB

첫 5행 데이터:

,index,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,...,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,...,0,2012-12-19,2013-11-17,NaN,9.0,NaN,NaN,0,NaN,1.0
1,1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,...,0,2012-10-15,NaN,NaN,9.0,NaN,1.0,0,NaN,1.0
2,2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2013-02-08,2013-11-17,NaN,16.0,NaN,NaN,0,NaN,1.0
3,3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2012-09-17,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0
4,4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2012-12-19,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0

기술통계:

,index,registered,viewed,explored,certified,YoB,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
count,641138.000000,641138.0,641138.000000,641138.000000,641138.000000,544533.000000,441987.000000,478395.000000,183608.000000,382385.000000,641138.000000,0.0,100161.0
mean,320568.500000,1.0,0.624299,0.061899,0.027587,1985.253279,431.008018,5.710254,114.844173,3.634423,0.018968,NaN,1.0
std,185080.742781,0.0,0.484304,0.240973,0.163786,8.891814,1516.116057,11.866471,426.996844,4.490987,0.229539,NaN,0.0
min,0.000000,1.0,0.000000,0.000000,0.000000,1931.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,1.0
25%,160284.250000,1.0,0.000000,0.000000,0.000000,1982.000000,3.000000,1.000000,5.000000,1.000000,0.000000,NaN,1.0
50%,320568.500000,1.0,1.000000,0.000000,0.000000,1988.000000,24.000000,2.000000,18.000000,2.000000,0.000000,NaN,1.0
75%,480852.750000,1.0,1.000000,0.000000,0.000000,1991.000000,158.000000,4.000000,73.000000,4.000000,0.000000,NaN,1.0
max,641137.000000,1.0,1.000000,1.000000,1.000000,2013.000000,197757.000000,205.000000,98517.000000,48.000000,20.000000,NaN,1.0

결측치 현황:

                  결측치 수  결측치 비율(%)
LoE_DI           106008      16.53
YoB               96605      15.07
gender            86806      13.54
grade             48372       7.54
last_event_DI    178954      27.91
nevents          199151      31.06
ndays_act        162743      25.38
nplay_video      457530      71.36
nchapters        258753      40.36
roles            641138     100.00
incomplete_flag  540977      84.38

중복행: 0개

# 3. 데이터 타입 확인 및 기본 변경

In [4]:
# 원본 데이터 복사
df_clean = df.copy()

# Boolean 컬럼들 변환 (True/False 값인지 먼저 확인)
boolean_cols = ['registered', 'viewed', 'explored', 'certified', 'incomplete_flag']
for col in boolean_cols:
    if col in df_clean.columns:
        unique_vals = df_clean[col].dropna().unique()
        if set(unique_vals).issubset({0, 1, True, False}):
            df_clean[col] = df_clean[col].astype('bool')

# 날짜 컬럼들 변환
date_cols = ['start_time_DI', 'last_event_DI']
for col in date_cols:
    if col in df_clean.columns:
        df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')

# 숫자형 컬럼들 (grade는 전처리에서 다시 처리)
numeric_cols = ['grade', 'nevents', 'ndays_act', 'nchapters', 'nforum_posts', 'nplay_video', 'YoB']
for col in numeric_cols:
    if col in df_clean.columns:
        df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')

# 4. 전처리 시작

In [5]:
# grade 컬럼의 공백 → NaN 처리
if 'grade' in df_clean.columns:
    df_clean['grade'] = df_clean['grade'].replace([' ', ''], np.nan)
    df_clean['grade'] = pd.to_numeric(df_clean['grade'], errors='coerce')

# Grade > 1.0 값들을 1.0으로 수정 (백분율 처리)
if 'grade' in df_clean.columns:
    over_one = df_clean['grade'] > 1.0
    if over_one.sum() > 0:
        df_clean.loc[df_clean['grade'] > 1.0, 'grade'] = 1.0
        print(f"grade > 1.0 값 {over_one.sum()}개를 1.0으로 수정")

grade > 1.0 값 6개를 1.0으로 수정

In [6]:
# viewed=False인데 explored=True 또는 certified=True인 경우
logical_error = (df_clean['viewed'] == False) & (
    (df_clean['explored'] == True) |
    (df_clean['certified'] == True)
)

error_count = logical_error.sum()

if error_count > 0:
    error_data = df_clean[logical_error]
    df_clean = df_clean[~logical_error]

In [7]:
# 극단값 삭제 (nevents >= 197,000)
extreme_outlier = df_clean['nevents'] >= 197000
df_clean = df_clean[~extreme_outlier]

# 5. 이상치 처리

In [8]:
# viewed=False인데 활동 지표들이 있는 경우 처리
if all(col in df_clean.columns for col in ['viewed', 'nplay_video', 'nchapters', 'nevents', 'ndays_act']):
    not_viewed = df_clean['viewed'] == False
    activity_cols = ['nplay_video', 'nchapters', 'nevents', 'ndays_act']

    # Case 1: viewed=False인데 모든 활동 지표가 0이 아닌 경우 → 삭제
    has_all_activity = True
    for col in activity_cols:
        if col in df_clean.columns:
            has_all_activity &= (df_clean[col] > 0)

    drop_condition = not_viewed & has_all_activity
    drop_count = drop_condition.sum()

    if drop_count > 0:
        df_clean = df_clean[~drop_condition]
        print(f"viewed=False이면서 모든 활동지표가 있는 행 {drop_count}개 삭제")

    # Case 2: viewed=False인데 일부 활동 지표만 있는 경우 → 해당 값들을 0으로 변경
    for col in activity_cols:
        if col in df_clean.columns:
            fix_condition = (df_clean['viewed'] == False) & (df_clean[col] > 0)
            fix_count = fix_condition.sum()
            if fix_count > 0:
                df_clean.loc[fix_condition, col] = 0
                print(f"viewed=False이면서 {col}>0인 경우 {fix_count}개를 0으로 변경")

viewed=False이면서 모든 활동지표가 있는 행 1개 삭제
viewed=False이면서 nplay_video>0인 경우 125개를 0으로 변경
viewed=False이면서 nchapters>0인 경우 2931개를 0으로 변경
viewed=False이면서 nevents>0인 경우 117773개를 0으로 변경
viewed=False이면서 ndays_act>0인 경우 142781개를 0으로 변경

In [9]:
# last_event_DI가 start_time_DI보다 앞선 경우 삭제
if all(col in df_clean.columns for col in ['start_time_DI', 'last_event_DI']):
    date_error = df_clean['last_event_DI'] < df_clean['start_time_DI']
    date_error = date_error & df_clean['last_event_DI'].notna() & df_clean['start_time_DI'].notna()

    error_count = date_error.sum()
    if error_count > 0:
        df_clean = df_clean[~date_error]
        print(f"마지막 활동일이 시작일보다 앞선 경우 {error_count}개 삭제")

마지막 활동일이 시작일보다 앞선 경우 1443개 삭제

In [10]:
# YoB IQR 이상치 처리 (상한값만)
if 'YoB' in df_clean.columns:
    Q1 = df_clean['YoB'].quantile(0.25)
    Q3 = df_clean['YoB'].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR

    yob_outliers = df_clean['YoB'] > upper_bound
    outlier_count = yob_outliers.sum()

    if outlier_count > 0:
        df_clean = df_clean[~yob_outliers]
        print(f"YoB 상한 이상치 {outlier_count}개 삭제 (상한값: {upper_bound})")

YoB 상한 이상치 608개 삭제 (상한값: 2004.5)

In [11]:
# roles 컬럼 삭제
if 'roles' in df_clean.columns:
    df_clean = df_clean.drop('roles', axis=1)
    print("roles 컬럼 삭제")

roles 컬럼 삭제

# 6. 결측치 처리

In [12]:
# LoE_DI, gender 결측치를 'Unknown'으로 처리
categorical_cols = ['LoE_DI', 'gender']

In [13]:
for col in categorical_cols:
    if col in df_clean.columns:
        missing_count = df_clean[col].isnull().sum()
        if missing_count > 0:
            df_clean[col] = df_clean[col].fillna('Unknown')
            print(f"{col} 결측치 {missing_count}개를 'Unknown'으로 처리")

LoE_DI 결측치 105673개를 'Unknown'으로 처리
gender 결측치 86529개를 'Unknown'으로 처리

# 7. 최종 데이터 타입 최적화

In [14]:
# 정수형 컬럼들
integer_cols = ['nevents', 'ndays_act', 'nchapters', 'nforum_posts', 'nplay_video']
for col in integer_cols:
    if col in df_clean.columns:
        if df_clean[col].isnull().sum() > 0:
            df_clean[col] = df_clean[col].astype('Int64')  # nullable integer
        else:
            df_clean[col] = df_clean[col].astype('int64')

In [15]:
# 실수형 컬럼들
float_cols = ['grade']
for col in float_cols:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].astype('float64')

In [16]:
# 범주형 컬럼들 (전처리 완료 후 category로 변경)
categorical_cols = ['final_cc_cname_DI', 'LoE_DI', 'gender']
for col in categorical_cols:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].astype('category')

# 8. 전처리 결과 확인

In [17]:
print(f"전처리 결과: {df.shape} → {df_clean.shape}")
print(f"제거된 행: {df.shape[0] - df_clean.shape[0]:,}개")
print(f"제거된 열: {df.shape[1] - df_clean.shape[1]}개")

# 최종 결측치 현황
final_missing = df_clean.isnull().sum()
if final_missing.sum() > 0:
    final_missing_df = pd.DataFrame({
        '결측치 수': final_missing,
        '결측치 비율(%)': (final_missing / len(df_clean) * 100).round(2)
    })
    display(final_missing_df[final_missing_df['결측치 수'] > 0])
else:
    print("결측치 없음")

# 주요 컬럼 분포 확인
if 'grade' in df_clean.columns:
    print(f"Grade - 평균: {df_clean['grade'].mean():.3f}, 범위: {df_clean['grade'].min()}-{df_clean['grade'].max()}")

if 'viewed' in df_clean.columns:
    viewed_dist = df_clean['viewed'].value_counts()
    print(f"Viewed 분포: True {viewed_dist.get(True, 0):,}개, False {viewed_dist.get(False, 0):,}개")

전처리 결과: (641138, 21) → (639077, 20)
제거된 행: 2,061개
제거된 열: 1개

                결측치 수  결측치 비율(%)
YoB             96296      15.07
grade           56738       8.88
last_event_DI  178623      27.95
nevents        198712      31.09
ndays_act      162430      25.42
nplay_video    455816      71.32
nchapters      257711      40.33

Grade - 평균: 0.034, 범위: 0.0-1.0
Viewed 분포: True 399,208개, False 239,869개

# 9. 데이터 저장

In [18]:
# 저장 경로 설정 (현재 폴더)
output_path = "./preprocessed_course_data.csv"
df_clean.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f"전처리 완료 데이터 저장: {output_path}")

전처리 완료 데이터 저장: ./preprocessed_course_data.csv