In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# 1. Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [7]:
data_path = "../Courses.csv"

# Îç∞Ïù¥ÌÑ∞ Î°úÎìú
df = pd.read_csv(data_path)

print(f"‚úÖ Îç∞Ïù¥ÌÑ∞ Î°úÎìú ÏôÑÎ£å!")
print(f"   - Ìñâ Ïàò: {df.shape[0]:,}")
print(f"   - Ïó¥ Ïàò: {df.shape[1]}")

‚úÖ Îç∞Ïù¥ÌÑ∞ Î°úÎìú ÏôÑÎ£å!
   - Ìñâ Ïàò: 641,138
   - Ïó¥ Ïàò: 21

# 2. Îç∞Ïù¥ÌÑ∞ Í∏∞Î≥∏ Ï†ïÎ≥¥ ÌôïÏù∏

In [8]:
print("Ïª¨Îüº Ï†ïÎ≥¥:")
df.info()

print(f"\nÏ≤´ 5Ìñâ Îç∞Ïù¥ÌÑ∞:")
display(df.head())

print(f"\nÍ∏∞Ïà†ÌÜµÍ≥Ñ:")
display(df.describe())

# Í≤∞Ï∏°Ïπò ÌôïÏù∏
print(f"\nüîç Í≤∞Ï∏°Ïπò ÌòÑÌô©:")
missing_data = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df) * 100).round(2)

missing_df = pd.DataFrame({
    'Í≤∞Ï∏°Ïπò Ïàò': missing_data,
    'Í≤∞Ï∏°Ïπò ÎπÑÏú®(%)': missing_percent
})
display(missing_df[missing_df['Í≤∞Ï∏°Ïπò Ïàò'] > 0])

# Ï§ëÎ≥µÌñâ ÌôïÏù∏
duplicate_count = df.duplicated().sum()
print(f"\nÏ§ëÎ≥µÌñâ: {duplicate_count}Í∞ú")

Ïª¨Îüº Ï†ïÎ≥¥:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641138 entries, 0 to 641137
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              641138 non-null  int64
 1   course_id          641138 non-null  object
 2   userid_DI          641138 non-null  object
 3   registered         641138 non-null  int64
 4   viewed             641138 non-null  int64
 5   explored           641138 non-null  int64
 6   certified          641138 non-null  int64
 7   final_cc_cname_DI  641138 non-null  object
 8   LoE_DI             535130 non-null  object
 9   YoB                544533 non-null  float64
 10  gender             554332 non-null  object
 11  grade              592766 non-null  object
 12  start_time_DI      641138 non-null  object
 13  last_event_DI      462184 non-null  object
 14  nevents            441987 non-null  float64
 15  ndays_act          478395 non-null  float64
 16  nplay_video        183608 non-null  float64
 17  nchapters          382385 non-null  float64
 18  nforum_posts       641138 non-null  int64
 19  roles              0 non-null       float64
 20  incomplete_flag    100161 non-null  float64
dtypes: float64(7), int64(6), object(8)
memory usage: 102.7+ MB

Ï≤´ 5Ìñâ Îç∞Ïù¥ÌÑ∞:

,index,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,...,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,...,0,2012-12-19,2013-11-17,NaN,9.0,NaN,NaN,0,NaN,1.0
1,1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,...,0,2012-10-15,NaN,NaN,9.0,NaN,1.0,0,NaN,1.0
2,2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2013-02-08,2013-11-17,NaN,16.0,NaN,NaN,0,NaN,1.0
3,3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2012-09-17,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0
4,4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2012-12-19,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0

Í∏∞Ïà†ÌÜµÍ≥Ñ:

,index,registered,viewed,explored,certified,YoB,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
count,641138.000000,641138.0,641138.000000,641138.000000,641138.000000,544533.000000,441987.000000,478395.000000,183608.000000,382385.000000,641138.000000,0.0,100161.0
mean,320568.500000,1.0,0.624299,0.061899,0.027587,1985.253279,431.008018,5.710254,114.844173,3.634423,0.018968,NaN,1.0
std,185080.742781,0.0,0.484304,0.240973,0.163786,8.891814,1516.116057,11.866471,426.996844,4.490987,0.229539,NaN,0.0
min,0.000000,1.0,0.000000,0.000000,0.000000,1931.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,1.0
25%,160284.250000,1.0,0.000000,0.000000,0.000000,1982.000000,3.000000,1.000000,5.000000,1.000000,0.000000,NaN,1.0
50%,320568.500000,1.0,1.000000,0.000000,0.000000,1988.000000,24.000000,2.000000,18.000000,2.000000,0.000000,NaN,1.0
75%,480852.750000,1.0,1.000000,0.000000,0.000000,1991.000000,158.000000,4.000000,73.000000,4.000000,0.000000,NaN,1.0
max,641137.000000,1.0,1.000000,1.000000,1.000000,2013.000000,197757.000000,205.000000,98517.000000,48.000000,20.000000,NaN,1.0

üîç Í≤∞Ï∏°Ïπò ÌòÑÌô©:

                  Í≤∞Ï∏°Ïπò Ïàò  Í≤∞Ï∏°Ïπò ÎπÑÏú®(%)
LoE_DI           106008      16.53
YoB               96605      15.07
gender            86806      13.54
grade             48372       7.54
last_event_DI    178954      27.91
nevents          199151      31.06
ndays_act        162743      25.38
nplay_video      457530      71.36
nchapters        258753      40.36
roles            641138     100.00
incomplete_flag  540977      84.38

Ï§ëÎ≥µÌñâ: 0Í∞ú

# 3. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [9]:
# ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ Î≥µÏÇ¨
df_clean = df.copy()

In [13]:
# 3-1. ÎÇ†Ïßú Ïª¨Îüº Ï≤òÎ¶¨
date_columns = ['start_time_DI', 'last_event_DI']

for col in date_columns:
    if col in df_clean.columns:
        df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')
df_clean[date_columns].dtypes

start_time_DI    datetime64[ns]
last_event_DI    datetime64[ns]
dtype: object

In [ ]:
# 3-2. Ïó∞Î†π Í≥ÑÏÇ∞
print("\n2Ô∏è‚É£ Ïó∞Î†π Í≥ÑÏÇ∞...")
if 'YoB' in df_clean.columns:
    current_year = 2025
    df_clean['age'] = current_year - df_clean['YoB']

    # Ïó∞Î†πÎåÄ Î∂ÑÎ•ò
    df_clean['age_group'] = pd.cut(df_clean['age'],
                                  bins=[0, 25, 35, 45, 55, 100],
                                  labels=['25ÏÑ∏ Ïù¥Ìïò', '26-35ÏÑ∏', '36-45ÏÑ∏', '46-55ÏÑ∏', '56ÏÑ∏ Ïù¥ÏÉÅ'])

    print(f"   ‚úÖ Ïó∞Î†π Í≥ÑÏÇ∞ ÏôÑÎ£å")
    print(f"   - ÌèâÍ∑† Ïó∞Î†π: {df_clean['age'].mean():.1f}ÏÑ∏")
    print(f"   - Ïó∞Î†π Î≤îÏúÑ: {df_clean['age'].min()}ÏÑ∏ ~ {df_clean['age'].max()}ÏÑ∏")